:root {
    font: 1rem;
    font-family: 'Inter';
}

body {
    display: flex;
    background-color: rgb(23, 23, 23);
    padding: 2rem;
}

.left-container {
    display: inline-block;
    position: relative;
    width: 60%;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    flex-basis: 0 0 30%;
    width: 40vw;
    height: 100vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 6rem;
    position: absolute;
    top: 30%;
    color: white;
    width: 100%;
    background-color: #333333b7;
}

.logo {
    height: 5rem;
}

@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf);
}

h1 {
    font-family: norse;
    font-size: 5rem;
}

.main-container {
    padding: 3rem;
    background-color: rgb(238, 238, 238);
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 10rem;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.input-div {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

button {
    width: 12rem;
    height: 3rem;
    border-radius: 0.6rem;
    margin: 1rem;
    margin-left: 0;
    background-color: rgb(89, 109, 72);
    color: rgb(255, 255, 255);
    font: 1rem sans-serif;
    font-weight: 700;
}

button:hover {
    background-color: rgb(66, 83, 51);
}

button:active {
    background-color: rgb(53, 68, 39);
    box-shadow: inset;
}

input:user-invalid {
    outline: red solid 2px;
}

label {
    font-size: 0.8rem;
    }

#password + p {
    content: 'Password has to contain at least 1 lowercase letter, 1 Uppercase, 1 number, 1 special character, be min 8 characters long'
}
